/* color bg fonFamily     что что очень часто повторяется */
:root {
    --main-bg-color: #F9F9FB;
    --dark-bg-color: #28292D;
    --bg-btn-confirm : rgb(182, 10, 10);
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    background-color: transparent;
}


/* ---size--- */
.max-width-content {
    max-width: 1200px;
    width: 96%;
}
.classic-pv {
    padding: 135px 0;
}

@media screen and (max-width: 900px) {
    .max-width-content {
        width: 94%;
    }
    .classic-pv {
        padding: 75px 0;
    }
}


/* ---------- */


/* text */
    h1 {
        font-family: "DM Sans";
        font-size: 140px;
        font-style: normal;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -3px;
    }
    h2 {
        font-family: "DM Sans";
        font-size: 72px;
        font-style: normal;
        font-weight: 700;
        line-height: 115%; /* 82.8px */
        letter-spacing: -3px;
    }
    h3 {
        font-family: "DM Sans";
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 115%; /* 73.6px */
        letter-spacing: -3px;
    }
    h4 {
        font-family: "DM Sans";
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 48px */
        letter-spacing: -1px;
    }
    h5 {
        font-family: "DM Sans";
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 21.6px */
    }
    h6 {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }
    p {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 24px */
    }
    a {
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
    }

    .white-text {
        color: #FFF;
    }
    .black-text {
        color: #101010;
    }
    .gray-text {
        color: #878787;
    }
    .uppercase {
        text-transform: uppercase;
    }

/* ---- */

/* display */

/*row*/
.f-c-c-r {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.f-c-s-r {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.f-c-e-r {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

.f-s-c-r {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.f-s-s-r {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.f-s-e-r {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: row;
}

.f-e-c-r {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
}

.f-e-s-r {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: row;
}

.f-e-e-r {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;
}

.f-sb-c-r {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.f-sb-s-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

.f-sb-e-r {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
}


/*column*/
.f-c-c-c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.f-c-s-c {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.f-c-e-c {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.f-s-c-c {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.f-s-s-c {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.f-s-e-c {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.f-e-c-c {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.f-e-s-c {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.f-e-e-c {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.f-sb-c-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.f-sb-s-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.f-sb-e-c {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
}
/* ------- */

/* buttons */
.rounded-btn {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 100px
}
.black-btn {
    background-color: #1D1D21;
    color: #FFF;
}
/* ------- */

body {
    background-color: var(--main-bg-color);
}